*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    background-color: #e5e5fd;
     min-height: 100vh;    /* 100vh means  100% viewport height */
    border: 10px , solid, #1d1e4c;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: #1d1e4c;
}

h4{
    text-align: right;
    font-size: 20px;
}



.image_container,img{
    width: 300px;
    height: 320px;
    border-radius: 50%;

}

.about_Section{
    margin-top: 50px;
}

h2{
    font-size: 70px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:20px;
}

p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;      /* text ko ek line mein show krta hai   */
}

h3{
    margin-bottom: 30px;
}

.biography_section{
    margin: 50px 0;

}

ul{
    margin-left: 50px;
}

li{
    margin-bottom: 10px;
}

footer{
    margin: 50px;
    text-align: end ;
}